p {
  font-family: Lato;
}
.as-horizontal .as-split-gutter {
  height: auto !important;
}
.height-max {
  height: calc(100vh - 10px);
  overflow: auto;
  }
  
.split {
  height: 100%;
  display:flex;
  flex-direction: column;
  
}
.split .div {
 flex-shrink: 0;
 text-align:right;
 margin-right: 10px;

}

.split .data {
  flex-grow:1;
  overflow-y: auto;
}
